<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white" aria-label="Ninth navbar example">
    <div class="container-xl">
        <a class="navbar-brand fs-4" href="{% url 'homepage'%}"><span class="material-symbols-outlined me-2">shopping_bag</span>Ecommerce Django</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse right" id="navbarsExample07XL">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 font-weight-bold text-uppercase">
                <li class="nav-item">
                    <a href="{% url 'homepage' %}" class="nav-link">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown06">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{% url 'blog' %}" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'about' %}" class="nav-link">About us</a>
                </li>
                {% comment %}<li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>{% endcomment %}
            </ul>
            <form class="d-flex ">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit"><i class="material-symbols-outlined">search</i></button>
            </form>
        </div>

    </div>
</nav>