{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ product.name }} - E-commerce Django solution
{% endblock %}
{% block content %}
    <section class="py-5 product-page">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <img class="card-img-top mb-5 mb-md-0" src="{{product.image.url}}" alt="..." />
                </div>
                <div class="col-md-6">
                    <div class="small mb-1 secondary-color">SKU: BST-498</div>
                    <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                    <div class="fs-5 mb-3">
                        {% comment %}<span class="text-decoration-line-through old-price">$45.00</span>{% endcomment %}
                        <span>{{product.price}}</span>
                    </div>
                    <p class="lead secondary-color">{{product.description}}</p>
                    <div class="d-flex">
                        {% if product.stock <= 0 %}
                            <p class="danger">Out of stock</p>
                        {% else %}
                            {% comment %}<input class="form-control text-center me-3 input-count" id="inputQuantity" type="number" value="1" style="max-width: 3rem" />{% endcomment %}
                            <button class="btn btn-outline-dark flex-shrink-0 add-to-cart" type="button">
                                <img src="{% static "cart.svg" %}" alt="">
                                Add to cart
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}